body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 900px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#topbar {
    font-size: small;
    width:230px;
    background-color: #fff;
    padding: 10px 10px;
    border: solid 1px black;
    margin-top: 20px;
    float: right;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

section.beer {
    overflow:auto;
    margin-bottom: 30px;
}

section.beer .image {
    float:left;
    width:200px;
    }

section.beer .content {
    float:right;
    width:690px;
    }

.buyme .discount {
    font-size: x-large;
    }

.buyme .price {
    font-size: x-large;
    font-weight: bold;
    float: right;
    margin-right: 50px;
    margin-top: 25px;
    }

.buyme textarea.tweet {
    width: 600px;
    height:60px;
    font-size: x-large;
    }

.buyme .price .amount {
    margin-right: 50px;
    }

.buyme .price input {
    width: 200px;
    }

section.beer .buyme .price span.discounted {
    text-decoration: line-through;
}

#api_responses {
  width: 900px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  font-size: x-small;
}

table.admin tr {
    padding-bottom: 25px;
    }

table.admin td {
    padding-right: 5px;
    }

table.admin td.name {
    width: 18%;
    }

table.admin td.twitter {
    width: 15%;
    }

table.admin td.total_spent {
    width: 12%;
    }

table.admin td.trstrank {
    width: 10&;
    }

table.admin td.wordbag {
    width: 45%;    
    font-size: x-small;
    }

table.admin td.strong_links {
    font-size: x-small;
    }

table.admin th { text-align: left }

div.response {
    white-space: pre;
    }

span.demo_param {
    font-weight: bold;
    color: red;
    font-size: large;
    }

.about {
    overflow: auto;
    margin-bottom: 25px;
    }

.about .image {
    float:left;
    width:200px;
}

.about .explanation {
    float:right;
    width:600px;
}    

.speaker {
    width: 300px;
    display: inline;
    }

.speakers {
    overflow: auto;
    }

.speaker img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

.speaker span.twitter {
    margin-left:100px;
    }

.speaker.dhruv {
    float: left;
    margin-left: 100px;
    }

.speaker.winnie {
    float: right;
    margin-right: 100px;
    }

table.twitter tbody {
    margin-bottom: 20px;
    }

.params {
    overflow: auto;
}

.params table {
    font-size: small;
    }

.params table.ips {
    float: left;
    }

.params table.twitters {
    float: right;
    }

p.url {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    white-space: pre;
    }